<h1>Home#delivery</h1>
<p>Find me in app/views/home/delivery.html.erb</p>


.graydeliver

.headpickture
  = image_tag( 'deliveryhead.jpg', :class => 'delihead' )


.whiteblok
  %div.whitebloks
    %div.firstdeliver
      %h1 Этапы разработки проекта кухни
      %p{:style => "font-weight: bold;"} Каждый наш проект индивидуален, мы не используем шаблонные решения. Работа над уникальным интерьером — настоящее удовольствие, и мы хотим поделиться им с вами.
    %div.seconddeliver
      %div.delivercoloms
        .col-sm-6
          %h3 Разработка проекта
          %p На первой встрече дизайнер обсуждает с вами план будущей кухни, бытовую технику. Мы вовлекаем вас в процесс творчества: вместе листаем каталоги и журналы, перебираем палитры фасадов, рисуем первый набросок. Когда модель и стилистика определены, мы можем рассчитать стоимость проекта. После заключения договора дизайнер и мастер приезжают к вам на замеры.
          %h3 Производство
          %p Основная часть работы происходит далеко за пределами Беларуси. Получив наш проект, фабрика в Германии приступает к производству кухни. Готовая мебель бережно упаковывается и со всеми сертификатами отправляется на наш склад в Минске. Производство и доставка занимают около 2 месяцев.
        .col-sm-6
          %h3 Доставка и установка
          %p Фабрика упаковывает мебель в прочные и аккуратные картонные ящики. Наиболее хрупкие предметы — в деревянные ящики. На таможне упаковку не вскрывают, чтобы не повредить мебель и не нарушить условия хранения. При необходимости мы храним мебель у себя на складе, пока вы не закончите отделку в квартире. После этого наш мастер установит кухню и бытовую технику.
          %h3 Послепродажный сервис
          %p Мы берем на себя обязательства по гарантийному и сервисному обслуживанию мебели. Через год после установки кухни мы приезжаем к вам на «техосмотр»: контролируем усадку и регулируем зазоры. Все это мы делаем бесплатно, потому что отвечаем за качество своим именем.
    %div.thirddeliver
      %h1 Работаем по всей Украине
      %p Большинство наших заказчиков из Одесской области, но мы умеем работать удаленно. Мы разрабатывали проекты во всех областных городах Украины, а еще в Токио и Сан-Франциско. Обсуждение мы ведем по электронной почте, но обязательно выезжаем на замеры и монтаж.
    %div.foursdeliver
      #consider= link_to "РАСЧИТАТЬ СТОИМОСТЬ КУХНИ", home_contacts_path 


.contactblok