/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fotorama";
@import "slick";
@import 'slick-theme';



@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');


$logo-red: #f20a0f;

body {
	min-width: 960px;
}

/*   ###############   SNOW ELEMENT BEGIN  ############## */

@keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px, 20px 20px, 20px 20px, 20px 20px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px, 550px 1050px, 450px 450px, 350px 350px;}
}
 
@-moz-keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-ms-keyframes snow {
 0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}


.let_it_snow_white_red {
		background-image:
	 	url('snowflake.png'),
	 	url('snowflake3.png'),
	 	url('snowflake2.png'),
	 	url('sn3red.png'),
	 	url('sn2red.png'),
	 	url('sn1red.png');
	 /*background-image: url('snowflake.png'), url('snowflake3.png'), url('snowflake2.png'); */

	 /*background-image: url('sn3red.png'), url('sn2red.png'), url('sn1red.png') ; */
		 -webkit-animation: snow 20s linear infinite;
		 -moz-animation: snow 20s linear infinite;
		 -ms-animation: snow 20s linear infinite;
		 animation: snow 20s linear infinite;
}

/*   ###############    SNOW ELEMENT END  ############## */


.contactblok {

	@extend .let_it_snow_white_red ;

  background-color: #383838;

	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 15px;
      
      font-family: "Helvetica Neue", "Arial", "sans-serif";
    color: #bdbdbd;

}


.botnavfirst {
	text-align: center;
	padding: 15px;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
		.botnavfirst > a {
			text-align: center;
			padding: 0px 5px ;
			margin: 0px 5px;
			color: #bdbdbd;
			font-size: 15px;
			text-decoration: underline;
		}


.botnavsecond {
  	text-align: center;
  	padding: 15px;
  	margin: 10px;
  	margin-top: 0px;
  }
		.botnavsecond > a {
			text-align: center;
			padding: 0px 5px ;
			margin: 0px 5px;
			color: #bdbdbd;
			font-size: 15px;
			text-decoration: underline;
}
  .botnavthird {
  	text-align: center;
  	margin-top: 5px;	
  }
      .iconbar {
      width: 40px;
      margin:  5px;
    }
	.contactlink {
		display: inline-block;
	}
	.contactlink > a {
	  width: 50px;
	  height: 50px;

	}
	     .contactlink > a :hover {

	      background-color: $logo-red;
	      border-radius: 4px;
	    }




  .botnavfourth {
	text-align: center;
	padding: 5px;
	margin: 5px;

  }
  .botnavfifth {
	text-align: center;
	padding: 5px;
	margin: 5px;
  }
  .botnavsixth {
	text-align: center;
	padding: 5px;
	margin: 5px;
  }
  .botnavseventh {
	text-align: center;
	padding: 5px;
	margin: 5px;
	color: #fff;
  }
  .botnavseventh > h3 {
  	margin-top: 5px;
  }
  
  .botnaveighth {
	text-align: center;
	padding: 5px;
	margin: 5px;
  }
  .botnavninth {
	text-align: center;
	padding: 5px;
	margin: 5px;

  }