// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.let_it_snow_white_red {
		background-image:
	 	url('snowflake.png'),
	 	url('snowflake3.png'),
	 	url('snowflake2.png'),
	 	url('sn3red.png'),
	 	url('sn2red.png'),
	 	url('sn1red.png');
	 /*background-image: url('snowflake.png'), url('snowflake3.png'), url('snowflake2.png'); */

	 /*background-image: url('sn3red.png'), url('sn2red.png'), url('sn1red.png') ; */
		 -webkit-animation: snow 20s linear infinite;
		 -moz-animation: snow 20s linear infinite;
		 -ms-animation: snow 20s linear infinite;
		 animation: snow 20s linear infinite;
}




.ColorContactForm {
	color: red;
}

/*   ###############   HEADBLOCKS BEGIN  ############## */ 



.contacs_grey60 {
	 @extend .let_it_snow_white_red ; 

	width: 100%;
	height: 60px;
}


.contacs_white30 {
	width: 100%;
	height: 30px;
	background: #fff;

}
/*   ###############   HEADBLOCKS END  ############## */ 




/*   ###############   HEAD FOTO Block BEGIN  ############## */ 
.contacs_head_img_block {

	width: 100%;
	height: 410px;
	overflow: hidden;
}

.contacs_head_img {
	width: 100%;
	min-height: 510px;
	margin-top: -100px;
	z-index: 10;
}
	.contacts_grey_linz{
		position: absolute;
		top: 90px;
		display: block;
		background-color: rgba(41,41,41,.6);
		width: 100%;
		height: 410px; 
		z-index: 20;

	}

	.contact_head_hi {

		position: absolute;
	    height: 275px;
	    top: 90px;
	    width: 100%;
	    padding: 0px;
	    z-index: 30;
	}

	.contact_head_text {
		animation: feature-text-anim .75s ease-in-out;
	    width: 100%;
	    max-width: 999px;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 100px auto 0px;
	    padding: 55px 32px 0px 32px;
	    text-align: center;
	    text-rendering: optimizeLegibility;
	}
			.contacts_lozung1 {
			display: block;
		    	font-family: "Helvetica Neue","Arial","sans-serif";
			    font-size: 45px;
		    	font-weight: 300;
			    font-style: normal;
		    	color: #fff;
		    line-height: .9em;
		    text-transform: none;
		    letter-spacing: 0px;
		   
		   
			}

			.contacts_lozung2 {
			font-family: "Helvetica Neue","Arial","sans-serif";
		    font-size: 22px;
		    line-height: 1.4em;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    font-weight: bold;
		    font-style: normal;
		    color: #fff;/*#dbdbdb*/;
		    margin: 20px auto;
		}
/*   ###############   HEAD FOTO BLock END  ############## */ 



/*   ###############   Слайдер обрасцы кухонь BEGIN  ############## */ 
.contact_carusel_mode {
	background: #fff;
	width: 100%;
	overflow: hidden;
	height: 140px;
/*  border-top: 2px solid #f20a0f;
	border-bottom: 2px solid #f20a0f;
*/	padding-top: 10px;
	padding-bottom: 10px;
}

		.contact_carusel_mode img{
			width: 200px;
			margin: 0px 5px;

			border-left: 2px solid #f20a0f;
			border-right: 2px solid #f20a0f;
			border-top: 2px solid #f20a0f;
			border-bottom: 2px solid #f20a0f;

		}
/*   ###############   Слайдер обрасцы кухонь END  ############## */ 




/*   ###############   HEAD WELCOME BEGIN  ############## */ 


.contact_numbers{
	background: white;

	width: 100%;
	margin: 0 auto;

}
	.number_and_mail{
		width: 920px;
		height: 36px;
		margin: 0px auto;
		padding: 5px auto;
	}
	.number_and_mail h3{
		color: black;
		margin: 0px;
	}

		.lozundg_text {
			margin: 0px auto;
		 	
		 	padding: 0px 15px;
		 	padding-bottom: 10px;
		 	text-align: center;

		}

			.lozundg_text > h1{
			    
		    font-size: 42px;
		    line-height: 1.2em;
		    text-transform: none;
		    letter-spacing: 0px;
		    font-weight: 400;
		    font-style: normal;
		    }
			.lozundg_text > p {
			margin: 0px;
			    
			    font-size: 15px;
			    line-height: 1.4em;
			    letter-spacing: 0px;
			    font-weight: 400;
			    font-style: normal;
			    color: #1f1f1f	
		   }




.contacts_welcome {
	background: #fff;
	width: 100%;
	height: 400px;
}


.content{
	padding: 25px 32px 0;
    margin: 0 auto;
    background-color: #ffffff;
    width: auto;
    height: auto;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: #1f1f1f;
    position: relative;
    /* margin-top: 225px; */
   
}
/*   ###############   HEAD WELCOME END  ############## */ 





/*   ###############   DISCOUNT BEGIN  ############## */ 
.contact_discount {

	 @extend .let_it_snow_white_red; 

	width:100%;
	height: 175px;
		margin: 0px auto;
		padding: 10px auto;
	border-top: 2px solid #f20a0f;
	border-bottom: 2px solid #f20a0f;
}

	.contact_discount h3{

		width: 920px;
		margin: 5px auto;
		text-align: center;

	}

	.contact_discount_block {
		width: 920px;
		margin: 0px auto;
		height: auto;

	}
/*   ###############  DISCOUNT   END  ############## */ 





/*   ###############   VIDEO BEGIN  ############## */ 





.contacts_video_block{
	background: #fff;


	width: 100%;
	min-height: 520px;
	margin: 0px auto;
	padding: 20px 0px;

	color: black;

	/*border-bottom: 2px solid #f20a0f;
	*/
}

		.lozung_adres{
			display: block;
			width: 100%;
			margin: 0px auto;

			text-align: center;
		}

			.lozung_adres p {
				text-decoration: underline;
				text-decoration-color: #f20a0f;

			}


	.video_text {
		display: inline-block;
		float: left;

		width: 49%;
		min-height: 390px;
		padding-right: 25px;

		text-align: right;

	}


			.video_text h4{
				display: block;
				float: right;
					border-right: 2px solid #f20a0f;
					padding-right: 5px;
				max-width: 600px;

				text-align: right;

			}

	.video_show {
		display: inline-block;
		width: 49%;

	}
			.video_heigth {
				position: relative;
			    width: 100%;
			    height: 0;
			    padding-bottom: 56.25%;
			}

			.video_setings {

			    position: absolute;

			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			}

/*   ###############  VIDEO  END  ############## */ 



/*   ###############   ACCORDION   BEGIN  ############## */  

.accordionSlider {
	background: #fff;
	max-width: 100%;
	margin: 0 auto;
	padding: 10px 1%;

	border-bottom: 2px solid #f20a0f;
}

	.accordion_loxung{
		color: black;
		text-align: center;
		padding: 0px 10px;
	}

		ul.accordion{
			display: flex;
			justify-content: center;
			margin-top: 10px;
			padding: 0;
		}

			ul.accordion li{
				width: 5vw;
				overflow: hidden;
				
				cursor: pointer;
				display: block;
					border-left: 2px solid #f20a0f;
					border-right: 2px solid #f20a0f;
				/*-webkit-box-shadow: 1px 3px 15px #7e807e;*/
				/*-moz-box-shadow: 1px 3px 15px #7e807e;*/
				/*box-shadow: 1px 3px 15px #7e807e;*/
				-webkit-transition: all 1.5s;
				-moz-transition: all 1.5s;
				-ms-transition: all 1.5s;
				-o-transition: all 1.5s;
				transition: all 1.5s;
			}

				ul.accordion li img{
					width: 68vw;
				}

			ul.accordion li:hover {
				width: 68vw;

				-webkit-box-shadow: 0px 0px 7px #f20a0f;
				-moz-box-shadow: 0px 0px 7px #f20a0f;
				box-shadow: 0px 0px 7px #f20a0f;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-ms-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;
			}

			ul.accordion li:nth-child(4){
				width: 68vw;
				
			}
			ul.accordion:hover li:nth-child(4){
				width: 5vw;
				
			}
			ul.accordion li:nth-child(4):hover{
				width: 68vw;
				
			}

/*   ###############   ACCORDION  END  ############## */


/*   ###############   EMPTY block BEGIN  ############## */ 
.contacts_empty_block1 {

	@extend .let_it_snow_white_red; 

	width: 100%;
	height: 25px;

}


/*   ###############   EMPTY block  END  ############## */



/*   ###############   MAP BEGIN  ############## */ 
.contacts_map{
	
	background: #fff;

	width: 100%;

	margin: 0px auto;



	border-top: 2px solid #f20a0f;
	border-bottom: 2px solid #f20a0f;
}


.lozung_adres_map {
	color: black;
	text-align: center;
}


.lozung_adres_map h4{
	padding: 10px 30px;
}
/*   ###############  MAP  END  ############## */ 





/*   ###############   ЗАПИСЬ В САЛОН BEGIN  ############## */ 

.appointment{
	width: 100%;
	height: auto;
	margin: 0px auto;
	background: #fff;


	border-top: 2px solid #f20a0f;
	border-bottom: 2px solid #f20a0f;
}


.appointment_lozung1 {
	width: 100%;
	margin: 0px auto;
	color: black;
	text-align: center;
}

/*   ###############  ЗАПИСЬ В САЛОН END  ############## */ 







/*   ###############   временный BEGIN  ############## */ 

.white_blok_contact {
	padding: 25px 32px 0;
	margin: 0 auto;
	background-color: #ffffff;
	    width: auto;
	    height: auto;

    	font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: #1f1f1f;
      position: relative;
      margin-top: 0px;
    z-index: 102;
}

.white_bloks {
	height: auto;
  	    width: auto;
    max-width: 1020px;
    margin: 0 auto;
    	text-align: center;

	    font-family: sans-serif;

	padding-bottom: 15px;
}



/*   ###############   временный END  ############## */ 



