

.whiteblokdesign {
	padding: 25px 32px 0;
	margin: 0 auto;
	background-color: #ffffff;
	    width: auto;
	    height: auto;

    	font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: #1f1f1f;
      position: relative;
      margin-top: 65px;
    z-index: 102;
}


.firstdesign {
	margin: 5px auto;
 	padding: 0px 15px;
}

.designcoloms > .conteiner-fluid > .row > .col-sm-6 > h4 {

	font-weight: 900;
	width: 100%;
	height: auto;
	margin: 10px auto;
	text-align: left;
}

.designcoloms > .conteiner-fluid > .row > .col-sm-6 > p {

	margin-bottom: 20px;
	text-align: left;
}


.designcoloms > .conteiner-fluid > .row > .col-sm-6 {
	padding-bottom: 20px;
}

.designcoloms {
	
	text-align: left;
	width: 100%;
	height: auto;
	margin: 10px auto;
	padding: 5px;

}
.colomicondesign {
	text-align: center;
}

.companionfoto {
	width: auto;
		max-width: 300px;
	height: auto;
	    margin: 16px auto;


}
	.companionicondesign {
		width: 100%;

	}


.companioncoloms > .conteiner-fluid > .row > .col-sm-3 {
		margin-top: 30px;
}



.thirddesign {

	width: 100%;
	height: auto;
	margin: 10px auto;

	    	text-align: center;
 	padding: 0px 15px;
}

	.thirddesign > h1 {
		margin-top: 25px;
		width: 100%;
		text-align: center;

	}

.foursdesign {
width: 340px;
	height: auto;
	margin: 10px auto;
	margin-top: 25px;
}

