.graymain {
	  background-color: rgba(41,41,41,.6);
	  width: 100%;
	  height: 800px;
	  z-index: 101;
	  position: absolute;
	  margin-top: -800px;
}

			.headpickturemain {
				display: block;
				position: absolute;
				width: 100%;
				/*min-width: 824px;*/
				margin-top: -980px;
				height: 800px;
				z-index: 100;
			}

					.mainhead {
						width: 100%;

						/*min-width: 824px;*/
						margin: 0px auto;
						    max-height: 1300px;
						        min-height: 980px;
						z-index: 98;
					}

			.headpickturemainmob {
				display: none;
				position: absolute;
				width: 100%;
				/*min-width: 824px;*/
				margin-top: -980px;
				height: 800px;
				z-index: 99;
			}

			    @media screen and (max-width: 1100px) {
	
						.headpickturemain {
							display: none;
						}	
						.headpickturemainmob{
							display: block;
						}
				}

.mainheadlozung {
	position: absolute;
	top:0px;
	z-index: 101;
			width: 100%;
	padding: 180px 0 155px;
}
	.headwords{
		animation: feature-text-anim .75s ease-in-out;
	    width: 100%;
	    max-width: 999px;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 0 auto;
	    padding: 32px;
	    text-align: center;
	    text-rendering: optimizeLegibility;
	}

		#textmainhead1 {
			display: block;
		    font-family: "Open Sans","sans-serif";

		    font-size: 90px;
		    line-height: .9em;
		    text-transform: none;
		    letter-spacing: 0px;
		    font-weight: 100;
		    font-style: normal;
		    color: #fff;
		}

		#textmainhead2 {
		    font-family: "Helvetica Neue","Arial","sans-serif";
		    font-size: 22px;
		    line-height: 1.4em;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    font-weight: bold;
		    font-style: normal;
		    color: #dbdbdb;
		    margin: 20px auto;
		}
		#textmainhead3 {
		    font-family: "Helvetica Neue","Arial","sans-serif";
		    line-height: 1.4em;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    font-weight: bold;
		    font-style: normal;
		    color: #dbdbdb;
		}
		.mainheadcontact {
			width: 200px;
				height: auto;
				margin: 10px auto;
				margin-top: 125px;
			}

			#mainheadcontactcall {
				border-color: #dbdbdb;
					padding: 0px;
					margin: 0px auto;
			}

			#mainheadcontactcall > a {
				display: block;
					border: 2px solid #dbdbdb;
					border-radius: 4px;
				color: #dbdbdb;
				 padding: 13px 12px;
				 margin: 0px;
				 width: 200px;
				 height: 46px;

			}

			#mainheadcontactcall  :hover {
					background-color: #dbdbdb;
				text-decoration: none;
				color: #181818;
				font-weight: bold;
			}
/*  HEADER END */



.whiteblokmain {
	padding: 25px 32px 0;
	margin: 0 auto;
	background-color: #ffffff;
	    width: auto;
	    height: auto;

    	font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: #1f1f1f;
      position: relative;
      margin-top: 800px;
    z-index: 102;
}

.whitebloks {
	height: auto;
  	    width: auto;
    max-width: 1020px;
    margin: 0 auto;
    	text-align: center;

	    font-family: sans-serif;

	padding-bottom: 15px;
}
.firstmain {
	margin: 5px auto;
 	padding: 0px 15px;
}

	.firstmain > h3{
	    
     font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    }



		.tehno_3d {
			width: 100%;
			height: auto;
			margin: 10px auto;
			perspective: 1000px;
		}
				.tehno_3d:hover .rotate_tehno {
					transform: rotateY(180deg);
				}

			.rotate_tehno {
				position: relative;
				transition: .5s;
				transform-style: preserve-3d;
			}

			.tehno_text_rotate_k {
				position: absolute;
				top: 0;
				left: 0;
				transform: rotateY(180deg)
			}

			.tehno_img_rotate_k {
				vertical-align: middle;
			}

			.tehno_img_rotate_k, .tehno_text_rotate_k{
				border: 4px double #ccc;
				width: 100%;
				height: 100%;
				background: #fff;
				backface-visibility: hidden;
			}

.secondmain > h3 {

	font-weight: 600;
	width: 100%;
	height: auto;
	margin: 10px auto;
}

		.secondcontact > p {
			margin-bottom: 20px;
		}


		.maincoloms > .col-sm-6 {
			padding-bottom: 20px;
		}

		.maincoloms {
			

			width: 100%;
			height: auto;
			margin: 10px auto;
			padding: 5px;

		}
			.mainbodyfoto{
				width: 100%;
				height: auto;
			}
	.mainpcolcinus {
		width: 32.33333333%;
		margin: 0.5%;
	}		


	    @media screen and (max-width: 1024px) {
	    				.mainpcolcinus {
						width: 99%;
					}		
				}













.textmain1 {
	margin: 5px auto;
 	padding: 0px 15px;
}

	.textmain1 > h3{
	    
     font-family: "Open Sans","sans-serif";
    font-size: 18px;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    }

.firstdesignmain {
	margin-top: 40px;
}

    .firstdesignmain > h2 {
    	margin-bottom: 20px;
    }

	#quotation {
		font-family: "Georgia","serif";
		    font-size: 18px;
		    line-height: 1.5em;
		    letter-spacing: .5px;
		    font-weight: normal;
		    font-style: italic;
		    color: rgba(26,26,26,.9);
		    padding: 10px 32px 0;
		    text-align: center;
		    margin: 0;
	}

	.firstfotodesignmain {
		margin-bottom: 20px;
	}



.kitchen_3d {
	width: 500px;
	height: 300px;
	margin: 50px auto;
	perspective: 1000px;
}
	.kitchen_3d:hover .rotate_kitchen {
		transform: rotateY(180deg);
	}

.rotate_kitchen {
	position: relative;
	transition: .5s;
	transform-style: preserve-3d;

}

.text_rotate_k {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg)

}

.img_rotate_k {
	vertical-align: middle;
}

.img_rotate_k, .text_rotate_k{
	border: 4px double #ccc;
	width: 500px;
	height: 300px;
	background: #fff;
	backface-visibility: hidden;
}











.portfoliopickturemain  {
	height: 525px;
	width: 100%;
	z-index: 103;
}
	.portfolipick {
		position: absolute;	
		z-index: 95;
	}
		.mainbodyportfolio{
			width: 100vw;
			    margin-top: -521px;
			   
			    
		}
			@media screen and (max-width: 900px) {
			  .portfoliopickturemain  {
					height: 425px;
				}
			  .mainbodyportfolio {
			  	margin-top: -215px;
			  	min-height: 924px
			  }
			}
	.greyfonportfoliomain {
		position: absolute;
		background-color: rgba(41,41,41,.6);
		height: 525px;
		width: 100%;
		z-index: 96;
	}
	.linkfonportfoliomain {
		position: absolute;
		z-index: 97;
		width: 100%;

	}
		.linkblock {
			width: 655px;
			margin: 150px auto 0;
			text-align: center;
		}
		.linkblock > a {
			color: #dbdbdb;
		    border-bottom: 1px solid #dbdbdb;
		    font-family: "Open Sans","sans-serif";
		    font-size: calc(30px + 2vw);
		    line-height: 1.4em;
		    text-transform: none;
		    letter-spacing: 0px;
		    font-weight: 300;
		    font-style: normal;
		}
				.linkblock > a:hover {
					text-decoration: none;
					color: #dbdbdb;
					font-weight: 500;
		}
				@media screen and (max-width: 900px) {
					.linkblock {

						margin: 100px auto 0;

					}
				}


.whiteblokmain2 {
	padding: 25px 32px 0;
	margin: 0 auto;
	background-color: #ffffff;
	    width: auto;
	    height: auto;

    	font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.4em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: #1f1f1f;
      position: relative;
    z-index: 102;
}

.whitebloks2 {
	height: auto;
  	    width: auto;
    max-width: 1020px;
    margin: 0 auto;
    	text-align: center;

	    font-family: sans-serif;

	padding-bottom: 15px;
}




.maingorod {
	width: 100%;
	margin: 10px auto;
	padding: 17px 5px 5px 17px;
}

	.maingorod > p {
		font-weight: bold;

	    font-size: 15px;
	    line-height: 1.4em;
	    letter-spacing: 0px;

	    font-style: normal;
	    color: #1f1f1f;
	}

.linia {
	width: 100%;
	margin: 10px auto;

	padding: 17px 0px 0px 17px;
}



.thirdcontact {

	width: 100%;
	height: auto;
	margin: 10px auto;

	    	text-align: center;
 	padding: 0px 15px;
}


.fourthcontact {
	width: 100%;
	height: auto;
	margin: 10px auto;
	text-align: center;
  #call a {
	margin: 0px auto;
  }
}
