




  /
    %div.nation
    %ul
      %li.language
        =link_to_unless_current "EN", locale: "en"
      %li.language 
        =link_to_unless_current "RU", locale: "ru"
      %li.language 
        =link_to_unless_current "AR", locale: "ar"
    
    %h3
      = link_to_unless_current "English", root_path(locale: "en") | 
      |
      \#{link_to_unless_current "Rusian", root_path(locale: "ru")} |
      |
      \#{link_to_unless_current "Arabic", root_path(locale: "ar")}
  /
  /  - if user_signed_in?
  /    %nav.navbar.navbar-default
  /      .conteiner
  /        .navbar-brand= link_to "Административная панель", root_path
  /        %ul.nav.navbar-nav
  /          %li= link_to "Создать Фото AMS", new_amsgrouppicture_path, class: "btn btn-default" 
  /          %li= link_to "Создать Новость AMS", new_amsgroup_path, class: "btn btn-default"
  /          %li= link_to "Создать Фото AMS Stone", new_amsstonepicture_path, class: "btn btn-default"
  /          %li= link_to "Создать Товар AMS Stone", new_amsstone_path, class: "btn btn-default"
  /          %li= link_to "Создать Фото AMS Food", new_amsfoodpicture_path, class: "btn btn-default"
  /          %li= link_to "Создать Товар AMS Food", new_amsfood_path, class: "btn btn-default"
  /          %li= link_to "Создать Категорию Stone", new_stonecategory_path, class: "btn btn-default"
  /          %li= link_to "Создать Категорию Food", new_foodcategory_path, class: "btn btn-default"
  /        %ul.nav.navbar-nav.navbar-right
  /          %li= link_to "Выйти", destroy_user_session_path, method: :delete
  /  - else
  /    %div.sign
  /      = link_to "Enter", new_user_session_path

  